<div class="product-list">
    <div class="item" *ngFor="let item of list">
        <span (click)="handleItemClick(item)">
            <div class="p-off">25% OFF</div>
            <div class="image-container">
                <img alt="" [src]="item.images[0]">
            </div>
            <div class="name-container">
                <span>{{ item.name }}</span>
            </div>
            <h5>1 kg</h5>
            <div class="price-container">
                <span class="reg">${{ item.regularPrice }}</span>
                <span class="sale">${{ item.regularPrice }}</span>
            </div>
        </span>
        <div *ngIf="qpMap && qpMap[item.id]; else showAddBtn" class="plus-minus-wrap">
            <ion-icon class="minus flt-lt" name="remove-circle" (click)="addToStoreMinusBtnClick(item)"></ion-icon>
            <span class="quantity">{{ qpMap[item.id].orderQuantity }}</span>
            <ion-icon class="plus flt-rt" name="add-circle" (click)="addToStorePlusBtnClick(item)"></ion-icon>
        </div>
        <ng-template #showAddBtn>
            <div *ngIf="showAddToCartBtn" class="add-btn"
                (click)="!item.isAdded && addToStoreBtnClick(item)">
                <span *ngIf="!item.isAdded">Add to Cart</span>
            </div>
        </ng-template>

    </div>
</div>