.product-list {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;

    .item:nth-child(odd) {
        margin-bottom: 10px;
    }

    .item:nth-child(even) {
        margin-bottom: 5px;
    }

    .item {
        position: relative;
        // padding: 0px 5px 5px 5px;
        // border: 1px solid #dcdbdb;
        // border-radius: 6px;
        // box-shadow: 0 1px 8px rgba(0,0,0,.15), -1px 0 0 rgba(0,0,0,.03), 1px 0 0 rgba(0,0,0,.03), 0 1px 0 rgba(0,0,0,.12);

        // .p-off {
        //     font-size: 9px;
        //     font-weight: bold;
        //     text-transform: uppercase;
        //     color: #f1a034;
        //     border-radius: 4px;
        // }

        h5 {
            font-size: 11px;
            margin-left: 5px;
            margin-top: 5px;
            margin-bottom: 0;
            color: #afafaf;
        }

        .price-container {
            margin-top: 5px;
            font-size: 12px;
            margin-left: 5px;
            margin-bottom: 5px;
            .reg {
                color: #888;
                text-decoration: line-through;
                margin-right: 10px;
            }

            .sale {
                color: #333;
                font-weight: bold;
            }
        }

        .image-container {
            height: 70px;
            position: relative;
            margin: 12px 5px;

            img {
                border: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                transition: opacity .4s ease-in-out;
                max-width: 70px;
                max-height: 100%;
            }
        }

        .name-container {
            color: #666;
            font-size: 11px;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 0;

            span {
                display: block;
            }
        }

        // .item-adding-overlay {
        //     position: absolute;
        //     height: 100%;
        //     width: 100%;
        //     background-color: #fff;
        //     opacity: 0.5;
        //     top: 0;
        // }

        // .add-btn {
        //     cursor: pointer;
        //     overflow: hidden;
        //     position: absolute;
        //     top: 0;
        //     left: 5px;
        //     font-size: 22px;
        //     color: #2083ab;

        //     .disbale {
        //         background: #2083ab;
        //         opacity: 0.5;
        //         cursor: pointer;
        //     }
        // }

        // .plus-minus-wrap {
        //     cursor: pointer;
        //     overflow: hidden;
        //     position: absolute;
        //     top: 0;
        //     left: 5px;
        //     font-size: 22px;
        //     border: 1px solid;
        //     padding: 2px;
        //     border-radius: 6px;
        //     background: #fff;
        //     box-shadow: 0 1px 8px rgba(0,0,0,.15), -1px 0 0 rgba(0,0,0,.03), 1px 0 0 rgba(0,0,0,.03), 0 1px 0 rgba(0,0,0,.12);

        //     .plus, .minus {
        //         color: #2083ab;
        //         font-size: 22px;
        //     }
        //     .quantity {
        //         font-size: 10px;
        //         line-height: 22px;
        //         font-weight: bold;
        //         padding: 0 10px;
        //         float: left;
        //     }
        // }
    }
}