<div class="product-list">
    <div class="item" *ngFor="let item of list">
        <span (click)="handleItemClick(item)">
            <div class="image-container">
                <img alt="" [src]="item.images[0]">
            </div>
            <div class="price-container">
                <span class="reg">${{ item.regularPrice }}</span>
                <span class="sale">${{ item.regularPrice }}</span>
            </div>
            <div class="name-container">
                <span>{{ item.name }}</span>
            </div>
            <h5>1 kg</h5>
        </span>
        <add-item [item]="item"></add-item>
    </div>
</div>
