<app-header page="cart" leftTopButton="back" showCartIcon=true
    cartBadge="{{ qpMap['totalCart'] ? qpMap['totalCart'] : 0 }}" (headerEvent)="handleHeaderEvents($event)">
</app-header>

<ion-content>
    <div class="total-wrap">
        <div class="item">
            <div class="flt-lt">Subtotal</div>
            <div class="flt-rt">$77.36</div>
        </div>
        <div class="item">
            <div class="flt-lt">Sales Tax</div>
            <div class="flt-rt">$2.11</div>
        </div>
        <div class="item total">
            <div class="flt-lt">Total</div>
            <div class="flt-rt">$99.36</div>
        </div>
        <div class="item savings">
            <div class="flt-lt">Savings(4.6%)</div>
            <div class="flt-rt">$7.36</div>
        </div>
    </div>

    <div *ngIf="cartItems && cartItems.length > 0">
        <ion-list>
            <ion-list-header>
                <span class="flt-lt">
                    Total Items ({{ cartItems.length  }})
                </span>
            </ion-list-header>
            <ion-item *ngFor="let item of cartItems; let i = index">
                <ion-thumbnail slot="start">
                    <img alt="" [src]="item.images && item.images[0]">
                </ion-thumbnail>
                <ion-label>
                    <div class="name">{{ item.name }}</div>
                    <p>$ {{ item.regularPrice }}</p>
                    <div class="links-wrap">
                        <!-- <span class="btn" (click)="deleteProduct(item)">
                            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                            <span class="label">Delete</span>
                        </span> -->
                        <span class="btn">
                            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                            <span class="label">Instructions</span>
                        </span>
                    </div>
                </ion-label>
                <add-item [item]="item" (addItemEvent)="handleAddItem($event, item)"></add-item>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="cartItems.length === 0" [ngClass]="{ 'cartTopSection' :cart.addCart.length == 0 }">
        <div [ngClass]="{ 'cartTextSection' : cart.addCart.length == 0 }" text-center>
            <ion-icon name="cart" class="cartIcon"></ion-icon>
            <h3>Your Cart is Empty</h3>
            <p>Lets get you started</p>
            <ion-button color="primary" (click)="startShopping()">Start shopping </ion-button>
        </div>
    </div>
</ion-content>

<ion-footer (click)="checkout()" *ngIf="cartItems.length > 0">
    <ion-toolbar color="primary" ion-padding-horizontal class="checkout-footer">
        <div class="footerCartSection">
            <ion-text>
                Checkout
            </ion-text>
            <ion-text>
                <strong>{{cart.grandTotal | currency}}</strong>
            </ion-text>
        </div>
    </ion-toolbar>
</ion-footer>