<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="dFlexRow deliverySection">
            <div class="flex">
                <ion-label class="locationAddress">Southern Spices</ion-label>
                <ion-icon name="create" mode="md" (click)="addLocation()" class="create_icon"></ion-icon>
            </div>
        </div>

        <ion-button slot="end" mode="ios" class="pRelative" (click)="onchatroom()">
            <ion-icon name="chatboxes"></ion-icon>
        </ion-button>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar color="light" md="ios" (click)="searchPage()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngIf="!storeProductsList || storeProductsList.length === 0">
        <p>You do not have any products added to your store. Start adding new products or
            add it from the marketplace and modify them.</p>
    </ion-item>
    <ion-list class="list1">
        <ion-list-header>
            <span calss="flt-lt">Store Products</span>
            <span class="flt-rt link">
                Add from Marketplace
                <ion-icon name="arrow-forward"></ion-icon>
            </span>
        </ion-list-header>
        <ion-item *ngFor="let product of storeProductsList">
            <ion-thumbnail slot="start">
                <img [src]="product.images[0]">
            </ion-thumbnail>
            <ion-label>
                <h2><strong>{{ product.name }}</strong></h2>
                <p>Category: {{ product.categories? product.categories : '--' }}</p>
                <p>Price: {{ product.regularPrice }}</p>
            </ion-label>
            <ion-icon class="round-icon-btn" slot="end" name="add" (click)="displayItemOptions(product)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
