.toolbar-up {
    padding: 0 12px;
}

.toolbar-down {
    padding: 0 10px 10px 10px;
}

ion-searchbar {
    padding: 0;
    margin: 0;
    height: 36px;
}

.searchbar-input-container {
    border-radius: 0px !important;
    margin: 0px 6px 7px;
}

ion-buttons {
    padding: 0 8px 0 15px;
    margin-top: 5px;
    ion-badge {
        position: absolute;
        right: -4px;
        top: -3px;
        border: 1px solid red;
        background-color: #fff;
        color: red;
        font-size: 10px;
    }
}

ion-button.icon-btn {
    height: 28px;
}

ion-toolbar {
    fa-icon {
        font-size: 22px;
    }

    ion-icon {
        font-size: 28px;
    }
}