<app-header [title]="utils.userShoppingStoreInfo.name" page="chatroom" leftTopButton="back"
    (headerEvent)="handleHeaderEvents($event)">
</app-header>

<ion-content>
    <div class="messages-wrap">
        <div *ngFor="let message of messages" class="message">
            <div class="new-day" *ngIf="message.newChattingDay">{{ message.newChattingDay }}</div>
            <div [ngClass]="message.senderid === userInfo.id ? 'first-user' : 'second-user'">
                <span class="text">{{ message.message }}</span>
                <span class="time">{{ message.time }}</span>
            </div>
            <!-- <div *ngIf="message.newday; else userMessage" class=""> {{ message.newday }}</div>
            <ng-template #userMessage>
                <div *ngIf="message.senderid === senderId; else secondUser" class="firstUser">
                    <span class="text">{{ message.message }}</span>
                    <span class="time">{{ message.time }}</span>
                </div>
                <ng-template #secondUser>
                    <div class="secondUser">
                        <span class="text">{{ message.message }}</span>
                        <span class="time">{{ message.time}}</span>
                    </div>
                </ng-template>
            </ng-template> -->
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-input slot="start" type="text" placeholder="Type a message" [(ngModel)]="newMessage" name="message"></ion-input>
    <ion-buttons slot="end" (click)="sendMessage()">
        <ion-button>
            <ion-icon name='paper-plane'></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-footer>