<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-ios" ion-text-capitalize>Delivery Address</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-radio-group *ngIf="addressArray" [(ngModel)]="addressvalue">
    <ion-item *ngFor="let add of addressArray|async; let i = index;">
      <ion-label>
        <ion-row align-items-center>
          <p ion-no-ion-margin>
            <strong>{{add.title}} {{add.name}}</strong>
          </p>
        </ion-row>
        <ion-row>
          <p ion-no-ion-margin>{{add.flatNumbers}}</p>
        </ion-row>
        <ion-row>
          <p ion-no-ion-margin>{{add.street}}</p>
        </ion-row>
        <ion-row>
          <p ion-no-ion-margin>{{add.locality}}</p>
        </ion-row>
      </ion-label>
      <ion-radio slot="start" value={{add.id}} checked></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-card class="contentSection" (click)="addAddress()">
    <ion-card-content>
      <div class="dFlexAlignItemCenter">
        <ion-icon name="add-circle-outline" class="iconSize fontSize"></ion-icon>
        <h5 ion-padding-start class="fontSize">Add New Address</h5>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- <ion-row class="check-row">
    <div *ngFor="let day of Days;let i=index" [ngClass]="{'days':CurrentIndex == i}  " (click)="slideTap(i)"
      class="center">
      <ion-col [ngClass]="{'days':CurrentIndex == i}" class="center">
        <span class="day-addr">{{day}}</span>
        <span *ngIf="check()"></span>
      </ion-col>
    </div>
  </ion-row> -->

  <div class="heading">Delivery Mode</div>
  <ion-radio-group [(ngModel)]="selectedDeliveryMode">
    <ion-list class="check-list bgTransparent">
      <ion-item *ngFor="let d of DeliveryMode" class="list-items bgTransparent" lines="none">
        <ion-radio checked="false" value={{d}} (click)="checkDeliveryMode(d)"></ion-radio>
        <ion-label ion-padding-start>
          <span class="check-label">{{d}}</span>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-radio-group>
  <div class="heading">Payment Mode</div>
  <ion-radio-group [(ngModel)]="selectedPaymentMode">
    <ion-list class="check-list bgTransparent">
     <ion-row class="radio_row">
        <ion-radio checked="false" value="Online"></ion-radio>
        <ion-label ion-padding-start>
          <span class="check-label">Online</span>
        </ion-label>
      </ion-row>
      <ion-row  class="radio_row" *ngIf="isDeliver">
        <ion-radio checked="false" value="Cash on dlivery"></ion-radio>
        <ion-label ion-padding-start>
          <span class="check-label">Cash on dlivery</span>
        </ion-label>
      </ion-row>
      <ion-row  class="radio_row" *ngIf="isCurve ||  isPickup">
        <ion-radio checked="false" value="Pay at store"></ion-radio>
        <ion-label ion-padding-start>
          <span class="check-label">Pay at store</span>
        </ion-label>
      </ion-row>
    </ion-list>
  </ion-radio-group>

</ion-content>

<ion-footer (click)="paymentPage()">
  <ion-toolbar class="bgTransparent">
    <ion-row class="bgTransparent">
      <ion-col text-center class="bgTransparent">
        <ion-button color="primary" expand="full" class="btnRadius">Proceed To Payment</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>