<app-header [title]="utils.userShoppingCity" page="home"
    (headerEvent)="handleHeaderEvents($event)"></app-header>
<ion-content>
    <ion-list class="list2">
        <br>
        <ion-item class="product-item" *ngFor="let store of storesList" (click)="goToStorePage(store)">
            <ion-thumbnail slot="start">
                <img alt="" *ngIf="store.imageurl" [src]="store.imageurl">
            </ion-thumbnail>
            <ion-label>
                <h3><strong>{{ store.name }}</strong></h3>
                <div class="text">{{ store.streetaddress }}</div>
                <div class="text">{{ store.city }}, {{ store.state }} {{ store.zipcode }}</div>
            </ion-label>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
