<ion-list>
    <ion-item *ngFor="let item of list">
        <ion-thumbnail slot="start">
            <img alt="" [src]="item.images[0]">
        </ion-thumbnail>
        <ion-label (click)="rightArrowClick(item)">
            <h4>Up To 20% OFF</h4>
            <h2><strong>{{ item.name }}</strong></h2>
            <p>{{ item.description }}</p>
        </ion-label>
        <ion-icon class="round-icon-btn" slot="end"
            name="arrow-forward" (click)="rightArrowClick(item)"></ion-icon>
    </ion-item>
</ion-list>
