<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Chat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <!-- loop on users -->

<ion-row *ngFor="let user of users">  
  <ion-col size=9>
    <ion-item (click)="onChatroom(user.chatcontactid , user.sellerid)">
      <ion-avatar slot="start">
        <img  src="assets/images/user.png" alt="" class="image">
      </ion-avatar>
      <ion-label>
        <h2>{{user.customername}}</h2>
        <h3>{{user.lastmessage}}</h3>
       
      </ion-label>
    </ion-item>
    </ion-col>
    <ion-col sixe="3">
      <div class="time_div">
        <span class="time">{{user.lastmessagetime}}</span>
        <div class="count"> <span>1</span></div>
        </div>
      </ion-col>
    </ion-row>
    
    

        
  </ion-list>
 
</ion-content>
