
/**
 * Ionic 4  Grocery Complete Platform(https://store.enappd.com/product/ionic-4-grocery-app-and-admin-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 *
 */


.cardSection{
    ion-card-header{
        display: flex;
        justify-content: space-between;
    }
    ion-icon {
        font-size: 22px;
    }
    
}

