<ion-buttons slot="start" class="close-btn">
    <ion-button transparent color="light" (click)="onClickCloseModal()">
        <ion-icon name='close'></ion-icon>
    </ion-button>
</ion-buttons>
<ion-content ion-no-padding>
    <div class="main">
        <ion-card ion-no-ion-margin class="card">
            <ion-card-content>
                <ion-row class="row">
                    <div class="fire-logo">
                        <img src="../../assets/imgs/icon.png" class="img-logo">
                        <ion-text>
                            <h2 ion-no-ion-margin ion-margin-vertical text-center>Sign Up</h2>
                        </ion-text>
                    </div>
                </ion-row>
                <!-- <ion-item class="f-item">
                    <ion-input type="text" placeholder="First Name" [(ngModel)]="firstname" (ionChange)="enableSignup($event)"></ion-input>
                </ion-item>
                <ion-item class="f-item">
                    <ion-input type="text" placeholder="Last Name" [(ngModel)]="lastname" (ionChange)="enableSignup($event)"></ion-input>
                </ion-item> -->
                <ion-item class="f-item">
                    <ion-input type="text" placeholder="Email" [(ngModel)]="email" name="email"
                        (ionChange)="enableSignup($event)"></ion-input>
                </ion-item>
                <!-- <ion-item class="f-item">
                    <ion-input type="tel" placeholder="Phone" [(ngModel)]="phone" name="phone" (ionChange)="enableSignup($event)" ></ion-input>
                </ion-item> -->
                <ion-item>
                    <ion-input type="password" placeholder="Password" [(ngModel)]="password"
                        (ionChange)="enableSignup($event)"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword"
                        (ionChange)="enableSignup($event)"></ion-input>
                </ion-item>
                <br />
                <ion-row>
                    <ion-col>
                        <ion-button expand="block" color="undefined" class="btn-transition" (click)="signup()"
                            [attr.disabled]="disableBtn">
                            <strong>Create an Account</strong></ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button expand="block" fill="outline" color="undefined" (click)="modalController.dismiss('login')"
                            class="btn-color"><strong>Have an account? Sign in</strong></ion-button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>