<ion-header color="primary">
  <ion-toolbar lines="none">
    <ion-title slot="start">
      Select Location
    </ion-title>
    <ion-buttons slot="end" size="large">
      <ion-back-button [text]="''" icon="close" class="btn-close"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
   <ion-toolbar class="padding-tool">
    <ion-searchbar #q placeholder="Search Location" ion-no-padding (keyup.enter)="searchAddress(q.value)"></ion-searchbar>
   <!-- <p ion-no-ion-margin padding style="font-size:16px;text-align:center;">Or</p>
    <button class="btn" ion-button full color="primary" (click)="getUserLocation()">Use my Current Location</button>-->
  </ion-toolbar> 
</ion-header>

<ion-content ion-no-padding>
  <!-- <div class="under">
    <p class="city">Popular Cities</p>
  </div>
  <ion-list class="scroll">
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list> -->

  <ion-list *ngIf="possibleAddresses && possibleAddresses.length > 0">
    <ion-radio-group value="biff">
      <ion-item *ngFor="let address of possibleAddresses" (click)="addressSelect(address)">
        <ion-label>
            <h3>{{ address.streetnumber }} {{ address.route }}</h3>
            <p>{{ address.city }}, {{ address.state }} {{ address.zipcode }}</p>
        </ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>