<app-header title="Address" page="add-address" toolbar2="search" leftTopButton="close"
    (headerEvent)="handleHeaderEvents($event)"></app-header>

<ion-content ion-no-padding>
    <ion-list *ngIf="possibleAddresses && possibleAddresses.length > 0">
        <ion-radio-group value="biff">
            <ion-item *ngFor="let address of possibleAddresses" (click)="addressSelect(address)">
                <ion-label>
                    <h3>{{ address.streetnumber }} {{ address.route }}</h3>
                    <p>{{ address.city }}, {{ address.state }} {{ address.zipcode }}</p>
                </ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
</ion-content>