<div class="contentSection" padding>
    <ion-list class="f-list" lines="full">
        <div class="icon-action">
            <ion-icon name="md-create"></ion-icon>
            Edit
        </div>
        <ion-item class="f-item" lines="full">
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" (ionInput)="enableContinue($event)" [(ngModel)]="userInfo.username" name="username"></ion-input>
        </ion-item>
        <ion-item class="f-item" lines="full">
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="text" [(ngModel)]="userInfo.email" name="email" disabled></ion-input>
        </ion-item>

        <ion-item class="f-item" lines="full">
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input type="tel" (ionInput)="enableContinue($event)" [(ngModel)]="userInfo.phoneNumber" name="phoneNumber"></ion-input>
        </ion-item>
    </ion-list>
    <div>
        <ion-button expand="full" color="primary" (click)="Continue()" disabled>Continue</ion-button>
    </div>
</div>