<ion-app>
        <ion-menu menu-id="first">
            <ion-content>
                <div *ngIf="utils.userInfo" class="userSection" ion-padding-top ion-padding-start (click)="userProfile()">
                    <ion-avatar slot="start">
                        <img [alt]="utils.userInfo.username" [src]="utils.userInfo.profileimage">
                    </ion-avatar>
                    <div ion-padding-start class="user_name">
                        <ion-label>
                            {{ utils.userInfo.username }}
                            <ion-icon name="md-create"></ion-icon>
                        </ion-label>
                        <div class="email">{{ utils.userInfo.email }}</div>
                    </div>
                </div>
                <!-- <div *ngIf="userDetails" class="userSection" ion-padding-top ion-padding-start (click)="userProfile()">
                    <ion-avatar slot="start">
                        <img [src]="userDetails.profileUrl">
                    </ion-avatar>
                    <div ion-padding-start class="user_name">
                        <ion-label>
                            {{ utils.userInfo.username }}
                        </ion-label>
                    </div>
                    <div class="arrowSection">
                        <ion-icon name="arrow-forward" slot="end" color="dark" mode="ios"></ion-icon>
                    </div>
                </div> -->

                <!-- <div class="locationSection" ion-padding-start ion-padding-bottom (click)="locationPage()">
                    <div class="pinSection">
                        <ion-icon name="pin" color="primary"></ion-icon>
                    </div>
                    <div class="locationDetails">
                        <ion-note class="font18">Your Location</ion-note>
                        <h3 ion-text-capitalize>{{utils.userSearchingCity}}</h3>
                    </div>
                </div> -->

                <div *ngIf="userPersonalDetails" class="userParentSection" ion-padding-vertical>
                    <div *ngFor=" let personalDetails of userPersonalDetails" class="userChildSection"
                        (click)="navigatePage(personalDetails.url,personalDetails.value)">
                        <img [src]="personalDetails.icons">
                        <ion-label color="light" class="titleSection">{{personalDetails.title}}</ion-label>
                    </div>
                </div>
                <br/>

                <ion-list class="appPageSection">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none">
                            <ion-icon slot="start" [name]="p.icon" color="primary" mode="ios"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <ion-list>
                    <div style="margin-bottom: 8px;">
                        <ion-label ion-padding-start><b style="margin-left: 6%;">Others</b></ion-label>
                    </div>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of otherPages">
                        <ion-item (click)="redirectPage(p.url)" lines="none">
                            <ion-icon slot="start" [name]="p.icon" color="primary" [mode]="p.mode"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
</ion-app>
