ion-list{
    ion-label{
        font-size: 15px;
    }
}

ion-content{
    --background:#fff;
}



.userSection {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 16px;
    padding-bottom: 16px;
    padding-left: 5%;
    border-bottom: 3px solid #f53d3d;

    ion-avatar {
        width: 50px;
        height: 50px;
    }
    .user_name {
        margin-left: 3%;
    }

    ion-label {
        font-size: 18px;
    }

    .email {
        font-size: 11px;
        color: #7b7a7a;
    }

    ion-icon {
        color: #f53d3d;
    }

    .arrowSection {
        position: absolute;
        right: 9px;
        font-size: 20px;
    }
}

.locationSection{
    display: flex;
    align-items: center;

    .pinSection{
        padding-left: 16px;
        padding-right: 16px;
        font-size: 22px;
    }

    .locationDetails{

        h3{
            margin-top: 5px;
        }
    }

}

.userParentSection{
    display: flex;
    background: var(--ion-color-primary);
    justify-content: space-around;
    .userChildSection {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
        img{
            width: 36px;
        }

        .titleSection{
            padding-top:3px;
        }
    }
}

.appPageSection{
    border-bottom: 1px solid #cccaca;

}


