
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="title-ios" ion-text-capitalize>Create Your Store</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar #q placeholder="Search Location" ion-no-padding (keyup.enter)="searchAddress(q.value)"
            (keyup)="validateSearch(q.value)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="contentSection" padding>
        <ion-list *ngIf="showAddressSearchList && possibleAddresses && possibleAddresses.length > 0">
            <ion-radio-group>
                <ion-item *ngFor="let address of possibleAddresses; let i = index">
                    <ion-label>
                        <h3>{{ address.streetnumber }} {{ address.route }}</h3>
                        <p>{{ address.city }}, {{ address.state }} {{ address.zipcode }}</p>
                    </ion-label>
                    <ion-radio slot="start" [value]="i" (click)="selectAddress(address)"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <span *ngIf="!showAddressSearchList">
            <ion-list class="f-list" lines="full">
                <ion-list-header>
                    General Information
                </ion-list-header>
                <ion-item class="f-item" lines="full">
                    <ion-label position="floating">Name of your store</ion-label>
                    <ion-input type="text" [(ngModel)]="storeName" name="Store Name"></ion-input>
                </ion-item>

                <ion-item class="f-item" lines="full">
                    <ion-label position="floating">Street Address</ion-label>
                    <ion-input type="text" [(ngModel)]="streetAddress" name="street Address"></ion-input>
                </ion-item>

                <ion-item class="f-item" lines="full">
                    <ion-label position="floating">City</ion-label>
                    <ion-input type="text" [(ngModel)]="city" name="city"></ion-input>
                </ion-item>

                <ion-item class="f-item" lines="full">
                    <ion-label position="floating">City</ion-label>
                    <ion-input type="text" [(ngModel)]="city" name="city"></ion-input>
                </ion-item>

                <ion-item class="f-item" lines="full">
                    <ion-label position="floating">Zip Code</ion-label>
                    <ion-input type="text" [(ngModel)]="zipcode" name="zipcode"></ion-input>
                </ion-item>

                <ion-item class="f-item" lines="full">
                    <ion-label position="floating">State</ion-label>
                    <ion-input type="text" [(ngModel)]="state" name="state"></ion-input>
                </ion-item>

                <ion-list-header>
                    Pick up/Delivery Options
                </ion-list-header>

                <ion-item>
                    <ion-label>Curb Side Pickup</ion-label>
                    <ion-toggle [(ngModel)]="isCurbSidePickup"></ion-toggle>
                </ion-item>

                <ion-item>
                    <ion-label>Delivery</ion-label>
                    <ion-toggle [(ngModel)]="isDelivery"></ion-toggle>
                </ion-item>

                <ion-list-header>
                    Payment Options
                </ion-list-header>

                <ion-item>
                    <ion-label>Pay on Pickup</ion-label>
                    <ion-toggle [(ngModel)]="isPayOnPickup"></ion-toggle>
                </ion-item>

                <ion-item>
                    <ion-label>Credit/Pay Later</ion-label>
                    <ion-toggle [(ngModel)]="isCredit"></ion-toggle>
                </ion-item>

            </ion-list>
                <!-- <h6>Nickname of your address</h6>
            <div class="BtnSection">
                <div class="btnOutline homeBtn" (click)="addAddress('Home')"
                    [ngClass]="{'active': homeTrue,'btnColorBlack':!homeTrue,'btnColorWhite': homeTrue}">Home</div>
                <div class="btnOutline officeBtn" (click)="addAddress('Office')"
                    [ngClass]="{'active': officeTrue,'btnColorBlack':!officeTrue,'btnColorWhite': officeTrue}">Office
                </div>
            </div> -->
            <br>
            <ion-button expand="full" color="primary"
                *ngIf="storeName !== '' && streetAddress !== '' && city !== '' && state !== ''"
                (click)="Continue()">
                Continue</ion-button>
        </span>
    </div>
</ion-content>