// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
@import url("https://fonts.googleapis.com/css?family=Nunito");
// @import url('https://fonts.googleapis.com/css?family=Abel');

.ion-page {
    max-width: 900px;
}

app-header {
    background: #f53d3d;
}

.flt-lt {
    float: left;
}

.flt-rt {
    float: right;
}

.overlay {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}

ion-list.list1 {
    ion-list-header {
        padding-right: 15px;
        color: #999;
        margin: 10px 0px 20px;
        border-bottom: 1px solid;

        .link {
            color: #f53d3d;
        }
    }

    .list-item {
        border-bottom: 1px solid #d4d3d3;
        margin: 0 15px;
        padding: 20px 15px;
        overflow: hidden;

        ion-thumbnail {
            height: 50px;
            width: 50px;
        }

        ion-label {
            margin-left: 15px;
        }

        .round-icon-btn {
            border-radius: 18px;
            color: #f53d3d;
            font-size: 30px;
        }

        .item-quantity-added {
            background: red;
            border-radius: 20px;
            color: #fff;
            padding: 3px 8px;
            font-size: 13px;
            margin-top: 3px;
        }

        .add-to-cart-btns-wrap {
            position: absolute;
            right: 20px;
            background: #fff;

            .item-quantity {
                margin: 5px 20px;
                color: #4a4a4a;
                font-size: 15px;
            }

            &.item-adding .item-adding-wrap {
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 5px 10px 10px 5px #cecbcb;
                padding: 5px 10px;
            }

            &.item-not-adding .item-adding-wrap,
            &.item-adding .item-quantity-added {
                display: none;
            }
        }

        .item-inner {
            border-bottom: none !important;
        }
    }
}

ion-list.list2 {
    ion-item {
        padding: 10px 26px 10px 10px;

        ion-thumbnail {
            background-color: #eee;
        }

        ion-select {
            font-size: 12px;
        }

        ion-label {
            h3 {
                text-transform: capitalize;
                margin-bottom: 6px;
            }
            .text {
                font-size: 11px;
                color: #666;
            }
        }

        ion-icon {
            font-size: 18px;
            color: #f53d3d;
        }

        .options-wrap {
            margin-top: 5px;

            .options {
                font-size: 10px;

                .option-title {
                    color: #525252;
                    font-weight: bold;
                }
            }
        }
    }
}

.overlay-popover {
    ion-backdrop {
        opacity: 0.9 !important;
    }
    .popover-content {
        width: 80%;
    }
}

:root {
    .popover-content {
        width: 70%;
        ion-label {
            font-size: 13px;
        }
    }
}

// ion-searchbar {
//     margin: 0;
// }

// .searchbar-input-container {
//     border-radius: 0px !important;
//     margin: 0px 6px 7px;
// }

// ion-toolbar {
//     --min-height: 45px;
// }

// ion-button.icon-btn {
//     height: 28px;
// }

// ion-menu-button {
//     height: 45px;
// }

// ion-searchbar {
//     padding-top: 0;
//     padding-bottom: 0;
//     height: 45px;
// }

// .dFlexRow {
//     display: flex;
//     flex-direction: column;
// }

// .dFlexRow.headerSection {
//     ion-note {
//         font-size: 10px;
//         margin-top: 4px;
//     }

//     .flex ion-label {
//         font-size: 16px;
//         line-height: 16px;
//     }
// }
