// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css?family=Abel');

/**
 * Ionic 4  Grocery Complete Platform(https://store.enappd.com/product/ionic-4-grocery-app-and-admin-dashboard)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 *
 */

 .flt-lt {
    float: left;
}

.flt-rt {
    float: right;
}


ion-list.list1 {
    ion-list-header {
        padding-right: 15px;
        color: #999;
        margin: 10px 0px 20px;
        border-bottom: 1px solid;

        .link {
            color: #F53D3D;
        }
    }

    ion-item {
        border-bottom: 1px solid;
        padding: 10px;
        ion-thumbnail {
            height: 70px;
            width: 70px;
        }

        ion-label {

        }

        .round-icon-btn {
            border-radius: 18px;
            padding: 5px;
            color: #FFF;
            background-color: #F53D3D;
        }

        .item-inner {
            border-bottom: none !important;
        }
    }
}