<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="dFlexRow deliverySection">
      <ion-note class="whiteColor">Delivery Location</ion-note>
      <div class="flex">
        <ion-label class="locationAddress">{{locationAddress}}</ion-label>
        <ion-icon name="create" mode="md" (click)="addLocation()"></ion-icon>
      </div>

    </div>

    <ion-button slot="end" mode="ios" class="pRelative" (click)="cartPage()">
      <ion-icon slot="icon-only" name="cart"></ion-icon>
      <span class="cartQuantity">{{cart.productQty}}</span>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar color="light" md="ios" (click)="searchPage()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Top Saver Component location:- components/top-saver-->
  <top-savers></top-savers>

  <!--Best Offer Component location:- components/best-offers-->
  <best-offers></best-offers>

  <!--Popular Deals Component location:- components/popular-deals-->
  <popular-deals></popular-deals>

  <!--Short Offers Component location:- components/short-offers-->
  <short-offers></short-offers>

  <div class="slideSection">
    <ion-slides pager="true" [options]="slideOpts" #ionSlides (ionSlidesDidLoad)="slidesDidLoad()">
      <ion-slide *ngFor="let slide of prodoctSlides">
        <img [src]="slide">
      </ion-slide>
    </ion-slides>
  </div>


  <!--Accordian Component location:- components/accordian-->
  <std-accordian *ngFor="let item of categoryItems | async" [title]="item.name" [image]="item.images[0]"
    [label]="item.discount" [desc]="item.description" [id]="item.id">
    <div *ngFor="let category of fsServices.categories">
      <ion-card class="childCard" no-margin padding-top *ngIf="category.id === item.id">
        <ion-row class="CardrowSection" margin-bottom>
          <ion-col no-padding (click)="goToProducts(category,category.child)" class="cardCol" mdWavesEffect size="6"
            *ngFor="let child of category.child">
            <ion-card class="childCardSection">
              <img class="child" src="{{child.images[0]}}" alt="">
              <ion-card-content>
                <span class="under">{{child.name}}</span>
                <ion-row class="bottom-text text-center green center-xs">
                  <span class="h-off"> {{child.offer}} %off</span>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </std-accordian>
</ion-content>