<ion-header>
    <ion-toolbar color="primary">
        <ion-menu-button slot="start"></ion-menu-button>
        <div class="dFlexRow headerSection">
            <ion-note class="whiteColor">In & Around</ion-note>
            <div class="flex">
                <ion-select #myCitySelect interface="popover" [(ngModel)]="util.userSearchingCity" (ionChange)="setUserSearchCity($event)">
                    <ion-select-option value="Naperville">Naperville, IL</ion-select-option>
                    <ion-select-option value="Aurora">Aurora, IL</ion-select-option>
                </ion-select>
            </div>
        </div>
        <ion-button slot="end" mode="ios" class="pRelative chat-btn icon-btn">
            <fa-icon [icon]="['fas', 'comments']" slot="end" (click)="onChat()"></fa-icon>
        </ion-button>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar color="light" (click)="searchPage()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list class="list2">
        <br>
        <ion-item class="product-item" *ngFor="let store of storesList" (click)="goToStorePage(store)">
            <ion-thumbnail slot="start">
                <img *ngIf="store.imageurl" [src]="store.imageurl">
            </ion-thumbnail>
            <ion-label>
                <h3><strong>{{ store.name }}</strong></h3>
                <p>{{ store.streetaddress }}, {{ store.city }} {{ store.state }} {{ store.zipcode }}</p>
                <div class="options-wrap">
                    <div class="options">
                        <span class="option-title">Pay Options - </span>
                        <span>Online</span>
                        <strong> . </strong>
                        <span>At Stores</span>
                    </div>
                    <div class="options">
                        <span class="option-title">Goods Delivery - </span>
                        <span>Delivery</span>
                        <strong> . </strong>
                        <span>Pickup</span>
                        <strong> . </strong>
                        <span>Curbside</span>
                    </div>
                </div>
            </ion-label>
            <!-- <ion-icon slot="end" name="ios-cart"></ion-icon>
            <span class="cart-count" slot="end">45</span> -->
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-list>



    <!--Top Saver Component location:- components/top-saver-->
    <top-savers></top-savers>

    <!--Best Offer Component location:- components/best-offers-->
    <best-offers></best-offers>

    <!--Popular Deals Component location:- components/popular-deals-->
    <popular-deals></popular-deals>

    <!--Short Offers Component location:- components/short-offers-->
    <short-offers></short-offers>

    <div class="slideSection">
        <ion-slides pager="true" [options]="slideOpts" #ionSlides (ionSlidesDidLoad)="slidesDidLoad()">
            <ion-slide *ngFor="let slide of prodoctSlides">
                <img [src]="slide">
            </ion-slide>
        </ion-slides>
    </div>

    <ion-list>
        <br>
        <ion-item class="product-item" *ngFor="let item of categoryItems | async">
            <ion-thumbnail slot="start">
                <img [src]="item.images[0]">
            </ion-thumbnail>
            <ion-label>
                <h2><strong>{{ item.name }}</strong></h2>
                <p>Category: {{ item.categories? item.categories : '--' }}</p>
                <!-- <p>Price: {{ item.regularPrice }}</p> -->
            </ion-label>

             <ion-button (click)="addStoreProducts(ListByRows)">
                <ion-icon slot="start" name="md-add"></ion-icon>
                Add
            </ion-button>
        </ion-item>
    </ion-list>

    <!--Accordian Component location:- components/accordian-->
    <std-accordian *ngFor="let item of categoryItems | async" [title]="item.name" [image]="item.images[0]"
        [label]="item.discount" [desc]="item.description" [id]="item.id">
        <div *ngFor="let category of fsServices.categories">
            <ion-card class="childCard" ion-no-ion-margin ion-padding-top *ngIf="category.id === item.id">
                <ion-row class="CardrowSection" ion-ion-margin-bottom>
                    <ion-col ion-no-padding (click)="goToProducts(category,category.child)" class="cardCol"
                        mdWavesEffect size="6" *ngFor="let child of category.child">
                        <ion-card class="childCardSection">
                            <img class="child" src="{{child.images[0]}}" alt="">
                            <ion-card-content>
                                <span class="under">{{child.name}}</span>
                                <ion-row class="bottom-text text-center green center-xs">
                                    <span class="h-off"> {{child.offer}} %off</span>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-card>
        </div>
    </std-accordian>
</ion-content>